/* Created by TopStyle Trial - www.topstyle4.com */
.sp-parallax-bg{
padding:0px 20px !important;
}
.sp-content ul{
padding:0px !important;
margin:0px !important; 
}
.sp-content li{
padding:13px 30px !important;
margin:0px !important; 
}

/*Titulos*/